// Define variables for your color scheme

// For example:
$red: #931621;
$blue: #469AE0;
$yellow: #dbca69;
$orange: #d57500;
$green: #404f24;
$gray: #000000;
$light-gray: #F4F4F4;

$brown: #613318;
$clay: #816c5b;
