#cave-description{
    background:#F5F5F5;
    padding:50px 0;
    padding-bottom:50px;
    font-size:14px;
    color:#000000
}
#cave-description h2{
    font-size:18px;
    color: brown;
}
#cave-data{
    font-weight:normal;
    font-size:12px;
    color:#797373
}
#cave-data strong{
    margin-left:9px
}
#cave-data i{
    font-size:20px;
    color:#9B9B9B;
    width:20px;
    text-align:center
}
#cave-data li{
    display:flex;
    align-items:center;
    margin-bottom:3px
}
.header-cave{
    border:1px solid #dce0e0;
}
.header-cave-details{
    display:flex;
    align-items:center;
    padding:30px;
    padding-left:0
}
.header-cave p{
    font-weight:normal;
    font-size:14px;
    color:#777777
}
.header-cave h1{
    font-size:20px;
    font-weight:600;
    margin-top: 0;
    color: brown;

}

.header-cave h4{
    font-size:18px;
    font-weight: bold;
    color: brown;
    margin-top:0
}

.header-cave-owner{
    padding:20px
}
.header-cave form{
    margin:20px 0;
    margin-right:0;
    background: orange;
    padding:15px;
    border-radius:12px;
    border:1px solid brown;

}
