#row {
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  margin-top: 40px;
  padding-bottom: 20px;
  background-color: $brown;
  h2, h3, label, small{
    color: $light-gray;
  }
  label {
    font-size: 15px;
  }
  input {
    border-radius: 10px;
    // height: 32px;
  }
}
.form-control {
  height: 32px;
  border-radius: 10px;
}

.input-group-btn:last-child > .btn {
  border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 2.5px;
    /* border-top-right-radius: 15px; */
    border: 0 25px 25px 0;
}

.file-upload {
  border-radius: 10px;
}

.file {
  border-radius: 10px;
}

.optional {
  border-radius: 10px;
}


