img {
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    border-radius: 50%;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.return {
  text-align: center;
  margin-top: 30px;
}
