img {
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    border-radius: 50%;
}

h2 {
  text-align: center;
  color: #444444;
  font-family: 'JFRocSol';
}

h1 {
  text-align: center;
  color: #444444;
  font-family: 'JFRocSol';
}

.list-inline {
  display: inline-block;
  margin: 0;
}

.center {
  text-align: center;
}
