<%= render 'shared/banner' %>

<div class="container container-size">
  <h1 id="index" class="index-h1 text-center">Our Selection of Caves</h1>

      <div class="row" id="js-caves">
          <% @caves.each do |cave| %>
            <%= render partial: 'shared/cave_card', locals: {cave: cave} %>
          <% end %>
      </div>
</div>
