/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  color: white;
  border: 0;
  border-radius: 0;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
