/* Your banner CSS code here */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  /*font-family: "JFRocOut";*/
  color: white;
  font-size: 75px;
  font-weight: bold;
  text-shadow: 5px 4px 20px rgba(125, 125, 125, 0.3);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}
.banner .btn {
  margin-top: 20px;
}
