/* Your card CSS code here */

.cards {
  display: flex;
}
.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background-color: $brown;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.card:hover {
  opacity: 1;

}

.card-body {
  height: 280px;
  background-size: cover;
  color: white;
  position: relative;
  text-shadow: 1px 1px 1px grey;
  border-radius: 8px 8px 0 0;

}

.card .avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card .avatar-bottom {
  position: absolute;
  right: 4px;
  bottom: 15px;
}

.card-category {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.9;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-body h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  line-height: 0.7;
}

.card-body p {
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.9;
  line-height: 0.7;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 2px;
}

.card-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  background: darkblue;
  opacity: 0.2;
}
.card-filter:hover{
  opacity: 0.1;
}

.card-footer p {
  color: rgba(0,0,0,0.4);
  font-weight: lighter;
  font-size: 12px;
}

.card-img-border {
  margin-top: 18px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(130, 130, 130, 0.5);
}
.card-title {
  font-size: 22px;
}

.card-title-medium {
  font-size: 20px;
}
